.post {
  display: flex;
  margin: 10px 24px 10px 35px;
  gap: 10px;
  .profile-user {
    img {
      width: 45px;
      padding-top: 3px;
    }
  }
  .post-info {
    .user-info {
      display: flex;
      gap: 8px;
      .user-name {
        font-weight: 700;
        font-size: 16px;
        color: #000;
      }
      .dispatch-time {
        font-weight: 400;
        font-size: 16px;
        color: #8d8d8d;
      }
    }
  }
}
